/* 
Orange #FF8000
Black
White
Hardwood brown #996633
*/
body {
    background: linear-gradient(#996633, #ccaa66, #996633);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: block;
    justify-content:center;
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
    background: #222222;
    color: #f1ebd9;
    text-align:center;
}

.ball-img {
    width: 540px;
    margin: 0 -20px;
}

.email-input-wrapper {
    /* display: flex;
    justify-content:left; */
    margin: 40px auto 20px;
}

.email-input {
    margin: 0px 30px;
    padding: 5px 15px;
    line-height: 20px;
    border-radius: 20px;
    width: 230px;
}

.btn-wrapper {
    display: flex;
    justify-content:center;
}

.sub-btn, .btn {
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0px 20px;
    line-height: 20px;
}

.sub-btn {
    background: #996633;
    color:#f1ebd9;
    
}

.sub-btn:hover {
    background: #ff8000;
    color: black;
}